html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: Calibri2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.section_wrapper {
    height: 100vh;
}
.hero_item {
    width: calc(50% - 30px);
    height: calc(50% - 30px);
    float: left;
    margin: 15px;
    position: relative;
    overflow: hidden;

}

.hero_item .cover_img {
    
    object-fit: cover;
    width: 100%;
    height: 100%;
    -moz-transition: all .51s;
    -o-transition: all .51s;
    -webkit-transition: all .51s;
    transition: all .51s;

}
#main_section .hero_item {
    cursor: pointer;
}
#main_section .hero_item:hover .cover_img {
    width: 117.6470588235%;
    margin-left: -10%;
}
.hero_item .info {
    position: absolute;
    bottom: 0;
    width: 56%;
    margin: 10px 0px;
}
/*menu */
#nav-icon4 {

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    position: fixed;
    right: 28px;
    z-index: 12;
    top: 28px;
    width: 36px;
    height: 25px;
  }
  
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #FF5722;;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(2) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    top: 10px;
  }
  
  #nav-icon4 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }
  
  #nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  #nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 23px;
    left: 8px;
  }
  .menu_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.85);
    z-index: 11;
    display: none;
  }
  .menu_overlay nav {
      width: 100;
      height: 100%;
  }
  .menu_overlay nav ul {
      height: inherit;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
  }
  .menu_overlay nav ul li {
    height: 16.666%;

  }
  .menu_overlay nav ul li {
    color: #fff;
    text-decoration: none;
  }
  .menu_overlay nav ul li a {
    width:100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu_overlay nav ul li {
    -moz-transition: all .51s;
    -o-transition: all .51s;
    -webkit-transition: all .51s;
    transition: all .51s;    
  }
  .menu_overlay nav ul li:nth-child(1) {
    background-color: rgba(227,0,0, 0.6);
  }
  .menu_overlay nav ul li:nth-child(2) {
    background-color: rgba(135,0,114, 0.6);
  }
  .menu_overlay nav ul li:nth-child(3) {
    background-color: rgba(17,180,0, 0.6);
  }
  .menu_overlay nav ul li:nth-child(4) {
    background-color: rgba(255,144,0, 0.6);
  }
  .menu_overlay nav ul li:nth-child(5) {
    background-color: rgba(33, 150, 243, 0.6);
  }
  .menu_overlay nav ul li:nth-child(6) {
    background-color: rgba(255, 87, 34, 0.6);
  }
  .menu_overlay nav ul li:nth-child(1):hover {
    background-color: rgba(227,0,0, 0.8);
  }
  .menu_overlay nav ul li:nth-child(2):hover {
    background-color: rgba(135,0,114, 0.8);
  }
  .menu_overlay nav ul li:nth-child(3):hover {
    background-color: rgba(17,180,0, 0.8);
  }
  .menu_overlay nav ul li:nth-child(4):hover {
    background-color: rgba(255,144,0, 0.8);
  }
  .menu_overlay nav ul li:nth-child(5):hover {
    background-color: rgba(33, 150, 243, 0.8);
  }
  .menu_overlay nav ul li:nth-child(6):hover {
    background-color: rgba(255, 87, 34, 0.8);
  }
  .menu_overlay nav ul li a {
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;    
  }
 .menu_overlay nav ul li a:hover {
      font-size: 26px;
  }     
@font-face {
    font-family: 'Calibri2';
    src: url('/assets/fonts/Calibri.ttf'); /* Safari, Android, iOS */

  }
 h1,h2,h3,h4,h5,h6, p {
    font-family: Calibri2;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 4px 3px 13px rgba(0, 0, 0, 0.7);
    color: #fff;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.hero_item .info h1 {
    /* font-size: 50px; */
    font-size: 2.62vw;
    margin-bottom: 0px;
    margin-bottom: 10px;
}
.hero_item .info h1 .resize {
    /* font-size: 25px; */
    font-size: 1.4vw;
}
.hero_item .info h2 {
    /* font-size: 26px; */
    font-size: 1.4vw;
    line-height: 23px;
}
.hero_item:nth-child(1) .info {
    bottom: 0
}
.hero_item:nth-child(2) .info {
    bottom: 0;
    padding-right: 20px;
}
.hero_item:nth-child(3) .info {
    bottom: initial;
    top: 0;
}
.hero_item:nth-child(4) .info {
    bottom: initial;
    top: 0;
    padding-right: 20px;
}
.hero_item:nth-child(even) .info {
    text-align: right;
    right: 0;
}
#main_section .quarter_circle {
    width: calc(100vw / 6.9818);
    height: calc(100vw / 6.9818);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    -moz-transition: all .51s;
    -o-transition: all .51s;
    -webkit-transition: all .51s;
    transition: all .51s;

}

#main_section .hero_item:nth-child(1) .quarter_circle {
    background-color: rgba(227,0,0, 0.6);
    border-top-left-radius: calc(100vw / 6.9818);
    border-right: 0;
    border-bottom: 0;
    bottom: 0;
    right: 0;
}
#main_section .hero_item:nth-child(2) .quarter_circle {
    background-color: rgba(135,0,114, 0.6);
    border-top-right-radius: calc(100vw / 6.9818);
    border-left: 0;
    border-bottom: 0;
    bottom: 0;
    left: 0;
}

#main_section .hero_item:nth-child(3) .quarter_circle {
    background-color: rgba(17,180,0, 0.6);
    border-bottom-left-radius: calc(100vw / 6.9818);
    border-right: 0;
    border-bottom: 0;
    top: 0;
    right: 0;
}
#main_section .hero_item:nth-child(4) .quarter_circle {
    background-color: rgba(255,144,0, 0.6);
    border-bottom-right-radius: calc(100vw / 6.9818);
    border-left: 0;
    border-bottom: 0;
    top: 0;
    left: 0;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    padding: 20px;
    box-sizing: border-box;
    -moz-transition: all .51s;
    -o-transition: all .51s;
    -webkit-transition: all .51s;
    transition: all .51s;
    z-index: 2;
}
#main_section .hero_item:nth-child(1) .overlay:hover {
    background: rgba(227,0,0, 0.6);
}
#main_section .hero_item:nth-child(2) .overlay:hover {
    background: rgba(135,0,114, 0.6);
}
#main_section .hero_item:nth-child(3) .overlay:hover {
    background:  rgba(17,180,0, 0.6);
}
#main_section .hero_item:nth-child(4) .overlay:hover {
    background: rgba(255,144,0, 0.6);
}
#main_section .hero_item:nth-child(1) .overlay:hover .quarter_circle {
    background: rgba(227,0,0, 1);
}
#main_section .hero_item:nth-child(2) .overlay:hover .quarter_circle{
    background: rgba(135,0,114, 1);
}
#main_section .hero_item:nth-child(3) .overlay:hover .quarter_circle{
    background:  rgba(17,180,0, 1);
}
#main_section .hero_item:nth-child(4) .overlay:hover .quarter_circle{
    background: rgba(255,144,0, 1);
}
#main_section .hero_item .overlay:hover h1 {
    transform: scale(1.05);
}
#main_section .hero_item:nth-child(1) .quarter_circle:hover .overlay {
    background: rgba(227,0,0, 1);
}

.logo {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100vw / 4.4137 );
    height: calc(100vw / 4.4137 );
}

.logo img {
    width: 100%;
    position: relative;
    z-index: 3;
    border-radius: 50%;
}

#main_section .hero_item .quarter_circle .icon {
    position: absolute;
    width: calc(100vw / 40);
}
#main_section .hero_item:nth-child(1) .quarter_circle .icon {
    bottom: calc(100vw / 14);
    right: calc(100vw / 14);
    
}

#main_section .hero_item:nth-child(2) .quarter_circle .icon {

    bottom: calc(100vw / 14);
    left: calc(100vw / 14);

}

#main_section .hero_item:nth-child(3) .quarter_circle .icon {

    top: calc(100vw / 14);
    right: calc(100vw / 14);

}

#main_section .hero_item:nth-child(4) .quarter_circle .icon {

    top: calc(100vw / 14);
    left: calc(100vw / 14);

}

/* 1st section */


#pc {

}
.hero_item_half {
    height: calc(100% - 30px);
}
.hero_item_quarter {
    width: calc(25% - 30px);
    height: calc(50% - 30px);
    padding: 0px;
}
.hero_item_quarter .info {
    margin-top: 0px;
    margin-bottom: 0px;
}
.hero_item_quarter .extra_info p {
    font-size: 20px;
}
.hero_item_quarter .overlay {
    position: relative;
    padding: 0px;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; */
}
.odd .hero_item_quarter:nth-child(2) .overlay {
    background-color: rgba(227,0,0, 0.6);
}
.odd .hero_item_quarter:nth-child(3) .overlay {
    background: rgba(135,0,114, 0.6);
}
.odd .hero_item_quarter:nth-child(4) .overlay {
    background:  rgba(17,180,0, 0.6);
}
.odd .hero_item_quarter:nth-child(5) .overlay {
    background: rgba(255,144,0, 0.6);
}
.odd .hero_item_quarter:nth-child(2) .overlay:hover {
    background-color: rgba(227,0,0, 1);
}
.odd .hero_item_quarter:nth-child(3) .overlay:hover {
    background: rgba(135,0,114, 1);
}
.odd .hero_item_quarter:nth-child(4) .overlay:hover {
    background:  rgba(17,180,0, 1);
}
.odd .hero_item_quarter:nth-child(5) .overlay:hover {
    background: rgba(255,144,0, 1);
}


.even .hero_item_quarter:nth-child(1) .overlay {
    background-color: rgba(227,0,0, 0.6);
}
.even .hero_item_quarter:nth-child(2) .overlay {
    background: rgba(135,0,114, 0.6);
}
.even .hero_item_quarter:nth-child(3) .overlay {
    background:  rgba(17,180,0, 0.6);
}
.even .hero_item_quarter:nth-child(4) .overlay {
    background: rgba(255,144,0, 0.6);
}
.even .hero_item_quarter:nth-child(1) .overlay:hover {
    background-color: rgba(227,0,0, 1);
}
.even .hero_item_quarter:nth-child(2) .overlay:hover {
    background: rgba(135,0,114, 1);
}
.even .hero_item_quarter:nth-child(3) .overlay:hover {
    background:  rgba(17,180,0, 1);
}
.even .hero_item_quarter:nth-child(4) .overlay:hover {
    background: rgba(255,144,0, 1);
}
.hero_item_quarter .overlay .info {
    text-align: center;
    width: 100%;
    margin-right: 0px;
    padding: 0;
    position: relative;
    right: initial;
    left: initial;
}

.hero_item_quarter .overlay .info h1 {
    font-size: 1.8vw;
}
.hero_item_quarter .overlay .info,
.hero_item_quarter .overlay .extra_info {
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 0px;
    background: rgba(0, 0, 0, 0);
}
.hero_item_quarter .overlay .info h1,
.hero_item_quarter .overlay .extra_info p {
    padding: 0px 10px;
    text-align: center;
}
.hero_item_quarter .overlay .extra_info p {
    text-transform: none;
    
}
.hero_item_quarter .overlay .info {
    height: 100%;
}
.hero_item_quarter .overlay .extra_info {
    height: 0%;
    position: relative;
    bottom: -200px;
}
.hero_item_quarter .overlay .info,
.hero_item_quarter .overlay .extra_info {
    -moz-transition: all .51s;
    -o-transition: all .51s;
    -webkit-transition: all .51s;
    transition: all .51s;
}
.hero_item_quarter .overlay:hover .info{
    height: 30%;
    background: rgba(0, 0, 0, 0.25);
}
.hero_item_quarter .overlay:hover .extra_info{
    height: 70%;
    bottom: 0;
}
.hero_item_half .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.hero_item_half .overlay .info {
    width:96%;
    position: absolute;
    bottom: 0;
}
.hero_item_half .overlay .info p {
    font-size: 20px;
}
.hero_item_half .overlay .visit_btn {
    position: absolute;
    top: 20px;
}
.hero_item_half .overlay .info p {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-transform: none;
    text-shadow: none;
    font-weight: normal;
    
}
.hero_item_half .overlay .info .icon {
    display: table;
    margin: 15px auto;
}
.visit_btn {
    font-size: 1.7vw;
    color: #fff;
    padding: 1vw;
    margin-bottom: 58px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    background: rgba(0,0,0,0.4);
    display: table;
    margin: 0 auto;
    text-decoration: none;
    -moz-transition: all .51s;
    -o-transition: all .51s;
    -webkit-transition: all .51s;
    transition: all .51s;
}
#cam .visit_btn:hover {
    background-color: rgba(227,0,0, 0.6);
}
#pc .visit_btn:hover {
    background: rgba(135,0,114, 0.6);
}

#print .visit_btn:hover {
    background:  rgba(17,180,0, 0.6);
}

#safe .visit_btn:hover {
    background: rgba(255,144,0, 0.6);
}

.even .hero_item_half {
    position: absolute;
    right: 0;
}
.even.section_wrapper .hero_item_quarter:nth-child(odd) {
    clear: left;
}
.even.section_wrapper .hero_item_quarter:nth-child(even) {
    clear: right;
}
/* .even .section_wrapper .hero_item_quarter:nth-child(3) {
    clear: left;
}
.even .section_wrapper .hero_item_quarter:nth-child(4) {
    clear: right;
} */

/* 2nd section */
#section_wrapper {
    height: 100%;
}
.hero_item_3-4 {
    width: calc(33.33% - 30px);
    height: calc(50% - 30px);
    margin: 15px;
    position: relative;
    overflow: hidden;
    padding: 0;
    float: left;

 
}
.hero_item_half_height{
    width: calc(100% - 30px);
    height: calc(50% - 30px);
    margin: 15px;
    position: relative;
    overflow: hidden;
    padding: 0;
    float: left;
}

.hero_item_3-4 .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.hero_item_3-4 .overlay:hover .icon_wrapper {
    background: rgb(255,255,255);
}

.hero_item_3-4:nth-child(1) .overlay {
    background-color: rgba(227,0,0, 0.6);
}
.hero_item_3-4:nth-child(2) .overlay {
    background-color: rgba(135,0,114, 0.6);
}
.hero_item_3-4:nth-child(3) .overlay {
    background-color:  rgba(17,180,0, 0.6);
}
.hero_item_3-4:nth-child(1) .icon_wrapper {
    color: rgba(227,0,0, 0.6);
}
.hero_item_3-4:nth-child(2) .icon_wrapper {
    color: rgba(135,0,114, 0.6);
}
.hero_item_3-4:nth-child(3) .icon_wrapper {
    color:  rgba(17,180,0, 0.6);
}
.icon_wrapper {
    font-size: 3em;
    border-radius: 50%;
    display: inline-block;
    background: rgb(206,195,195);
    padding: 20px;
    display: table;
    margin: 0 auto 60px auto;
    -moz-transition: all .51s;
    -o-transition: all .51s;
    -webkit-transition: all .51s;
    transition: all .51s;
}
.hero_item_3-4 .content_wrapper .info_wrapper h1,
.hero_item_3-4 .content_wrapper .info_wrapper p {
    text-align: center;
}
.hero_item_3-4 .content_wrapper .info_wrapper h1 {
    font-size: 38px;
    margin-bottom: 10px;
}
.hero_item_3-4 .content_wrapper .info_wrapper p {
    font-size: 18px;
    text-transform: none;
}
.hero_item_half_height .overlay {
    background-color: rgba(255,144,0, 0.6);
}
.testimonial_item {
    padding: 10px;
}
.owl-item .testimonial_item {
   background-color: rgba(255, 255, 255, 0.25);
   transform: scale(0.95);
   -moz-transition: all .51s;
   -o-transition: all .51s;
   -webkit-transition: all .51s;
   transition: all .51s;
   padding-top: 20px;
   padding-bottom: 20px;
}
.owl-item .testimonial_item:hover {
    transform: scale(1);
}
.testimonial_avatar img {
    display: table;
    margin: 0 auto 10px auto;
    max-width: 168px;
}
.testimonial_item .name {
    color: #000;
    text-align: center;
    text-shadow: none;
    font-size: 30px;
    margin-bottom: 20px;
}
.testimonial_item .testimonial_text {
    text-align: center;
    color: #000;
    font-weight: 300;
    text-shadow: none;
    text-transform: none;
}
.testimonial_text:after {
    content: url(/assets/img/right-quote.png)
}
.testimonial_text:before {
    content: url(/assets/img/left-quote.png)
}
/* contact */
.map {
    padding: 0;
}
.map iframe {
    width: 100%;
    height: 100%;
}
.form {
    width: 100%;
}
input[type="text"] {
    max-width: 427px;
    width: 90%;
    display: table;
    margin: 10px auto;
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid #0096887d;
    -moz-outline:0 none;
    outline:0 none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(58, 57, 57, 1);
    font-family: Calibri2;
    font-size: 18px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(58, 57, 57, 1);
    font-family: Calibri2;
    font-size: 18px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(58, 57, 57, 1);
    font-family: Calibri2;
    font-size: 18px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(58, 57, 57, 1);
    font-family: Calibri2;
    font-size: 18px;
  }
textarea {
    max-width: 429px;
    width: 90%;
    display: table;
    margin: 10px auto;
    min-height: 175px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #0096887d;
    -moz-outline:0 none;
    outline:0 none;

}
button[type="submit"] {
    max-width: 200px;
    width: 100%;
    display: table;
    margin: 10px auto;
    padding: 10px;
    background: #3d3e3e;
    border-radius: 5px;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-family: Calibri2;
    color: #fff;
    font-size: 20px;
    -moz-outline:0 none;
    outline:0 none;
    cursor: pointer;
    -moz-transition: all .51s;
    -o-transition: all .51s;
    -webkit-transition: all .51s;
    transition: all .51s;
}
button[type="submit"]:hover {
    background-color: rgba(227,0,0, 0.6);
}
#contact .hero_item_half:first-child .overlay {
    background-image: url(/assets/img/contact_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#contact .hero_item_half h1 {
    text-align: center;
    font-size: 25px;
}
#contact .hero_item_half p {
    text-align: center;
    margin-bottom: 10px;
    text-transform: none;
}
#values .hero_item_half_height .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media(max-width: 768px) {
    .hero_item {
        width: 100%;
        height: calc(25% - 15px);
        margin: 7.5px 0;
        position: relative;
    }
    .hero_item .info h1 {
        /* font-size: 50px; */
        font-size: 5.62vw;
        margin-bottom: 0px;
        margin-bottom: 10px;
    }
    .hero_item .info h1 .resize {
        /* font-size: 25px; */
        font-size: 3.4vw;
    }
    .hero_item .info h2 {
        /* font-size: 26px; */
        font-size: 3.4vw;
        line-height: 23px;
        margin-bottom: 10px;
    }
    .hero_item .info {
        width: 90%;
    }
    .hero_item .quarter_circle .icon {
        width: 20px;
    }
    .hero_item:nth-child(1) .quarter_circle .icon {
        bottom: 10px;
        right: 10px;
        
    }
    
    .hero_item:nth-child(2) .quarter_circle .icon {
    
        bottom: 10px;
        left: 10px;
    
    }
    
    .hero_item:nth-child(3) .quarter_circle .icon {
    
        top: 10px;
        right: 10px;
    
    }
    
    .hero_item:nth-child(4) .quarter_circle .icon {
    
        top: 10px;
        left: 10px;
    
    }

    .hero_item:nth-child(3) .info {
        top: initial;
        bottom: 0;
    }
    .hero_item:nth-child(4) .info {
        top: initial;
        bottom: 0;
    }
    .even .hero_item_half {
        position: relative;
    }
}